<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ categoryName }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- <ion-spinner *ngIf="showSpinner"></ion-spinner> -->
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{ categoryName }}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-grid>
        <ion-row>
            <ion-col size="6" *ngFor="let item of imagesList" (click)=showImage(item)>
                <ion-item>
                    <ion-img [src]=item.webURL></ion-img>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<!-- *ngFor="let category of categories" (click)="goToTappedCategory($event, category)" -->