<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ categoryName }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid [ngStyle]="{overflow: 'scroll', 'max-height': height}">
        <ion-virtual-scroll [items]="imagesList" approxItemHeight="600px">
            <ion-row *virtualItem="let item let itemBounds = bounds;">
                <ion-col size="6" (click)=showImage(item)>
                    {{itemBounds}}
                    <img class="thumbnail-img" [src]=item.webURL (error)="getErrorInImage($event)" />
                </ion-col>
            </ion-row>
        </ion-virtual-scroll>
    </ion-grid>
</ion-content>

<!-- *ngFor="let category of categories" (click)="goToTappedCategory($event, category)" -->