.thumbnail-img {
    border: 1px solid #dedede;
    padding: 3px;
    border-radius: 2px;
    height: 110px;
    width: 100%;
}

.hash-tag-water-mark {
    width: 10%;
    height: 20%;
    position: absolute;
    top: 30%;
    left: 45%;
    opacity: 0.4;
    border-radius: 50%;
}

.check-box {
    position: absolute;
    top: 15%;
    right: 8%;
}
