.thumbnail-img {
    border: 1px solid #dedede;
    padding: 3px;
    border-radius: 2px;
    height: 110px;
    width: 100%;
}

ion-virtual-scroll {
    display: grid;
}

#container {
    display: grid;
    grid-template-columns: 30px auto;
    grid-template-rows: 40px;
    background: lightblue;
    width: 100%;
}

#outer {
    display: grid;
    grid-template-columns: stretch;
}
